<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590435210034-lajnd4vhaj978ml99rifrp0nqaqe6lcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590435210034-lajnd4vhaj978ml99rifrp0nqaqe6lcl</string>
	<key>API_KEY</key>
	<string>AIzaSyCGvIMUE6687hVqslPjJCWFkICqqPWZMpg</string>
	<key>GCM_SENDER_ID</key>
	<string>590435210034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.bitwyze.farmhouse1604</string>
	<key>PROJECT_ID</key>
	<string>farmhouse1604</string>
	<key>STORAGE_BUCKET</key>
	<string>farmhouse1604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590435210034:ios:c2cc46e9a7856d7bc3bd2b</string>
	<key>DATABASE_URL</key>
	<string>https://farmhouse1604-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>